<div>
  <div class="d-flex justify-content-between mb-4">
    <h2>Campagnes</h2>
    <div>
      <button pButton class="p-button-secondary mx-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>&nbsp;
        <span>Rafraichir la liste</span>
      </button>
      <button
        pButton
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-campaign"
        [routerLink]="['/campaign/new']"
      >
        <fa-icon icon="plus"></fa-icon>&nbsp;
        <span> Créer une Campagne </span>
      </button>
    </div>
  </div>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="campaigns?.length === 0">
    <span>No campaigns found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="campaigns && campaigns.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>ID</span></th>
          <th scope="col"><span>Nom</span></th>
          <th scope="col"><span>Date Debut</span></th>
          <th scope="col"><span>Date Fin</span></th>
          <th scope="col"><span>Description</span></th>
          <th scope="col"><span>Admin</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let campaign of campaigns; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/campaign', campaign.id, 'view']">{{ campaign.id }}</a>
          </td>
          <td>{{ campaign.name }}</td>
          <td>{{ campaign.dateFrom | formatMediumDate }}</td>
          <td>{{ campaign.dateTo | formatMediumDate }}</td>
          <td>{{ campaign.description }}</td>
          <td>
            <div *ngIf="campaign.admin">
              <a [routerLink]="['/application-user', campaign.admin?.id, 'view']">{{ campaign.admin?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                pButton
                class="p-button-rounded p-button-outlined p-button-sm mx-1"
                type="submit"
                [routerLink]="['/campaign', campaign.id, 'view']"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
              </button>

              <button
                pButton
                class="p-button-rounded p-button-outlined p-button-secondary p-button-sm mx-1"
                type="submit"
                [routerLink]="['/campaign', campaign.id, 'edit']"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
              </button>

              <button
                pButton
                class="p-button-rounded p-button-outlined p-button-danger p-button-sm mx-1"
                type="submit"
                (click)="delete(campaign)"
                data-cy="entityDeleteButton"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
