<div>
  <div class="d-flex justify-content-between mb-4">
    <h2>Organisations</h2>
    <div>
      <button pButton class="p-button-secondary mx-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>&nbsp;
        <span>Rafraichir</span>
      </button>
      <button
        pButton
        class="btn btn-primary jh-create-entity create-time-sheet"
        id="jh-create-entity"
        data-cy="entityCreateButton"
        [routerLink]="['/company/new']"
      >
        <fa-icon icon="plus"></fa-icon>&nbsp;
        <span> Créer une organisation </span>
      </button>
    </div>
  </div>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="companies?.length === 0">
    <span>No companies found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="companies && companies.length > 0">
    <p-table
      styleClass="p-datatable-sm"
      [value]="companies"
      [paginator]="true"
      [rows]="10"
      [showCurrentPageReport]="true"
      responsiveLayout="scroll"
      aria-describedby="page-heading"
    >
      <ng-template pTemplate="header">
        <tr>
          <th scope="col"><span>ID</span></th>
          <th scope="col"><span>nom</span></th>
          <th scope="col"><span>Raison Sociale</span></th>
          <th scope="col"><span>Type d'organisation</span></th>
          <th scope="col"><span>Contingents</span></th>
          <th scope="col"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-company>
        <tr data-cy="entityTable">
          <td>
            <a [routerLink]="['/company', company.id, 'view']">{{ company.id }}</a>
          </td>
          <td>{{ company.name }}</td>
          <td>{{ company.raisonSocial }}</td>
          <td>{{ company.companyType }}</td>
          <td>
            <div *ngIf="company.socialOrganization">
              <a [routerLink]="['/social-organization', company.socialOrganization?.id, 'view']">{{ company.socialOrganization?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                pButton
                class="p-button-rounded p-button-outlined p-button-sm mx-1"
                type="submit"
                [routerLink]="['/company', company.id, 'view']"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
              </button>
              <button
                pButton
                class="p-button-rounded p-button-outlined p-button-secondary p-button-sm mx-1"
                *ngIf="company.socialOrganization"
                type="submit"
                [routerLink]="['/company', company.id, company.socialOrganization?.id, 'edit']"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
              </button>
              <button
                pButton
                class="p-button-rounded p-button-outlined p-button-secondary p-button-sm mx-1"
                *ngIf="!company.socialOrganization"
                type="submit"
                [routerLink]="['/company', company.id, 'edit']"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
              </button>
              <button
                pButton
                class="p-button-rounded p-button-outlined p-button-danger p-button-sm mx-1"
                type="submit"
                (click)="delete(company)"
                data-cy="entityDeleteButton"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
