<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="applicationUser">
      <h2 data-cy="applicationUserDetailsHeading"><span>Application User</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ applicationUser.id }}</span>
        </dd>
        <dt><span>Internal User</span></dt>
        <dd>
          <span>{{ applicationUser.internalUser?.id }}</span>
        </dd>
        <dt><span>Company</span></dt>
        <dd>
          <div *ngIf="applicationUser.company">
            <a [routerLink]="['/company', applicationUser.company?.id, 'view']">{{ applicationUser.company?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/application-user', applicationUser.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
