<div>
  <div class="d-flex justify-content-between mb-4">
    <h2>Contingents</h2>
    <div>
      <button pButton class="p-button-secondary mx-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>&nbsp;
        <span>Rafraichir List</span>
      </button>
      <button pButton id="jh-create-entity" data-cy="entityCreateButton" [routerLink]="['/social-organization/new']">
        <fa-icon icon="plus"></fa-icon>&nbsp;
        <span> Créer un nouveau contingent </span>
      </button>
    </div>
  </div>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="socialOrganizations?.length === 0">
    <span>No socialOrganizations found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="socialOrganizations && socialOrganizations.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>ID</span></th>
          <th scope="col"><span>Nom</span></th>
          <th scope="col"><span>Administrateur</span></th>
          <th scope="col"><span>Commission</span></th>
          <th scope="col"><span>Proximité</span></th>
          <th scope="col"><span>Nombre d'administrateur</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let socialOrganization of socialOrganizations; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/social-organization', socialOrganization.id, 'view']">{{ socialOrganization.id }}</a>
          </td>
          <td>{{ socialOrganization.name }}</td>
          <td>{{ socialOrganization.adminQuota }}</td>
          <td>{{ socialOrganization.commissionQuota }}</td>
          <td>{{ socialOrganization.proximityQuota }}</td>
          <td>{{ socialOrganization.numberOfAdmins }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                pButton
                class="p-button-rounded p-button-outlined p-button-sm mx-1"
                type="submit"
                [routerLink]="['/social-organization', socialOrganization.id, 'view']"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
              </button>

              <button
                pButton
                class="p-button-rounded p-button-outlined p-button-secondary p-button-sm mx-1"
                type="submit"
                [routerLink]="['/social-organization', socialOrganization.id, 'edit']"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
              </button>

              <button
                pButton
                class="p-button-rounded p-button-outlined p-button-danger p-button-sm mx-1"
                type="submit"
                (click)="delete(socialOrganization)"
                data-cy="entityDeleteButton"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
