<div>
  <div class="d-flex justify-content-between mb-4">
    <h2>Liste des entrées</h2>
    <div>
      <button pButton class="p-button-secondary mx-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>&nbsp;
        <span>Refraichir</span>
      </button>
      <button
        pButton
        class="btn btn-primary jh-create-entity create-time-sheet"
        id="jh-create-entity"
        data-cy="entityCreateButton"
        [routerLink]="['/time-sheet/new']"
      >
        <fa-icon icon="plus"></fa-icon>&nbsp;
        <span> Créer une nouvelle feuille</span>
      </button>
    </div>
  </div>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="timeSheets?.length === 0">
    <span>No timeSheets found</span>
  </div>

  <div id="entities" *ngIf="timeSheets && timeSheets.length > 0">
    <p-table
      styleClass="p-datatable-sm"
      [value]="timeSheets"
      [paginator]="true"
      [rows]="10"
      [showCurrentPageReport]="true"
      responsiveLayout="scroll"
      aria-describedby="page-heading"
    >
      <ng-template pTemplate="header">
        <tr>
          <th scope="col"><span>ID</span></th>
          <th scope="col"><span>Civilité</span></th>
          <th scope="col"><span>Prenom</span></th>
          <th scope="col"><span>Nom</span></th>
          <th scope="col"><span>Nombre d'enregistrement</span></th>
          <th scope="col"><span>Date d'effet</span></th>
          <th scope="col"><span>Date de fin</span></th>
          <th scope="col"><span>Direction</span></th>
          <th scope="col"><span>Division</span></th>
          <th scope="col"><span>Um</span></th>
          <th scope="col"><span>Status</span></th>
          <th scope="col"><span>CCAS</span></th>
          <th scope="col"><span>Nb Hours CCAS</span></th>
          <th scope="col"><span>Comité de coordination</span></th>
          <th scope="col"><span>Nb Hours CDC</span></th>
          <th scope="col"><span>Nb Hours Admin</span></th>
          <th scope="col"><span>Nb Hours Pot FD CFDT</span></th>
          <th scope="col"><span>Nb Hours Pot FD CGT</span></th>
          <th scope="col"><span>Nb Hours Pot FD FO</span></th>
          <th scope="col"><span>Nb Hours Pot FD CFE CGC</span></th>
          <th scope="col"><span>Type de commission</span></th>
          <th scope="col"><span>Nb Hours Commision</span></th>
          <th scope="col"><span>Type de proximité</span></th>
          <th scope="col"><span>Nb Hours proximité</span></th>
          <th scope="col"><span>Request</span></th>
          <th scope="col"><span>Company</span></th>
          <th scope="col"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-timeSheet>
        <tr data-cy="entityTable">
          <td>
            <a [routerLink]="['/time-sheet', timeSheet.id, 'view']">{{ timeSheet.id }}</a>
          </td>
          <td>{{ timeSheet.employeeCivility }}</td>
          <td>{{ timeSheet.employeeFirstName }}</td>
          <td>{{ timeSheet.employeeLastName }}</td>
          <td>{{ timeSheet.registryNumber }}</td>
          <td>{{ timeSheet.dateFrom | formatMediumDate }}</td>
          <td>{{ timeSheet.dateTo | formatMediumDate }}</td>
          <td>{{ timeSheet.direction }}</td>
          <td>{{ timeSheet.division }}</td>
          <td>{{ timeSheet.um }}</td>
          <td>{{ timeSheet.status }}</td>
          <td>{{ timeSheet.ccas }}</td>
          <td>{{ timeSheet.nbHoursCcas }}</td>
          <td>{{ timeSheet.coordinatingCommittee }}</td>
          <td>{{ timeSheet.nbHoursCdc }}</td>
          <td>{{ timeSheet.nbHoursAdmin }}</td>
          <td>{{ timeSheet.nbHoursPotFdCfdt }}</td>
          <td>{{ timeSheet.nbHoursPotFdCgt }}</td>
          <td>{{ timeSheet.nbHoursPotFdFo }}</td>
          <td>{{ timeSheet.nbHoursPotFdCfeCgc }}</td>
          <td>{{ timeSheet.commissionType }}</td>
          <td>{{ timeSheet.nbHoursCommision }}</td>
          <td>{{ timeSheet.proximityType }}</td>
          <td>{{ timeSheet.nbHoursProximity }}</td>
          <td>
            <div *ngIf="timeSheet.request">
              <a [routerLink]="['/request', timeSheet.request?.id, 'view']">{{ timeSheet.request?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="timeSheet.company">
              <a [routerLink]="['/company', timeSheet.company?.id, 'view']">{{ timeSheet.company?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                pButton
                class="p-button-rounded p-button-outlined p-button-sm mx-1"
                type="submit"
                [routerLink]="['/time-sheet', timeSheet.id, 'view']"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
              </button>
              <button
                type="submit"
                pButton
                class="p-button-rounded p-button-outlined p-button-secondary p-button-sm mx-1"
                [routerLink]="['/time-sheet', timeSheet.id, 'edit']"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
              </button>
              <button
                pButton
                class="p-button-rounded p-button-outlined p-button-danger p-button-sm mx-1"
                type="submit"
                (click)="delete(timeSheet)"
                data-cy="entityDeleteButton"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
