<div class="d-flex justify-content-center">
  <div class="col-8">
    <p-card header="Créer/Modifer une Requete">
      <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
        <div>
          <jhi-alert-error></jhi-alert-error>
          <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
            <label class="form-label" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
          <div class="row mb-5">
            <label class="form-label" for="field_compaign">Compaign</label>
            <select class="form-control" id="field_compaign" data-cy="compaign" name="compaign" formControlName="compaign">
              <option [ngValue]="null"></option>
              <option
                [ngValue]="campaignOption.id === editForm.get('compaign')!.value?.id ? editForm.get('compaign')!.value : campaignOption"
                *ngFor="let campaignOption of campaignsSharedCollection; trackBy: trackCampaignById"
              >
                {{ campaignOption.name }}
              </option>
            </select>
          </div>
        </div>
        <div>
          <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
            <fa-icon icon="ban"></fa-icon>&nbsp;<span>Annuler</span>
          </button>
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            [disabled]="editForm.invalid || isSaving"
            class="btn btn-primary"
          >
            <fa-icon icon="save"></fa-icon>&nbsp;<span>Enregistrer</span>
          </button>
        </div>
      </form>
    </p-card>
  </div>
</div>
