<div class="d-flex justify-content-center" *ngIf="currentUser">
  <div class="col-8">
    <p-card header="Créer/Modifer une Requête">
      <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
        <div>
          <jhi-alert-error></jhi-alert-error>
          <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
            <label class="form-label" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
          <div class="row mb-3">
            <label class="form-label">Utilisateur</label>
            <input class="form-control" type="text" [value]="currentUser.login" readonly />
          </div>
          <div class="row mb-3">
            <label class="form-label">Statut</label>
            <input class="form-control" type="text" value="Created" readonly />
          </div>
          <div class="row mb-5">
            <label class="form-label" for="field_compaign">Compaign</label>
            <select class="form-control" id="field_compaign" data-cy="compaign" name="compaign" formControlName="compaign">
              <option [ngValue]="null"></option>
              <option
                [ngValue]="campaignOption.id === editForm.get('compaign')!.value?.id ? editForm.get('compaign')!.value : campaignOption"
                *ngFor="let campaignOption of campaignsSharedCollection; trackBy: trackCampaignById"
              >
                {{ campaignOption.name }}
              </option>
            </select>
          </div>
        </div>
        <div>
          <button
            pButton
            pRipple
            label="Annuler"
            type="button"
            id="cancel-save"
            data-cy="entityCreateCancelButton"
            class="p-button-secondary ml-2"
            (click)="previousState()"
          >
            <span class="pi pi-arrow-left"></span>&nbsp;
          </button>
          <button
            pButton
            pRipple
            label="Enregistrer"
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            [disabled]="editForm.invalid || isSaving"
            class="p-button-primary"
          >
            <span class="pi pi-check"></span>&nbsp;
          </button>
        </div>
      </form>
    </p-card>
  </div>
</div>
