<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-company-heading" data-cy="CompanyCreateUpdateHeading">Créer/Modifier une organisation</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_name">Nom</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_raisonSocial">Raison Sociale</label>
          <input
            type="text"
            class="form-control"
            name="raisonSocial"
            id="field_raisonSocial"
            data-cy="raisonSocial"
            formControlName="raisonSocial"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_companyType">Type d'organisation</label>
          <select
            (change)="resetSocialOrgForm()"
            class="form-control"
            name="companyType"
            formControlName="companyType"
            id="field_companyType"
            data-cy="companyType"
          >
            <option [ngValue]="null"></option>
            <option *ngFor="let companyType of companyTypeValues" [value]="companyType">{{ companyType }}</option>
          </select>
        </div>

        <div formGroupName="socialOrganization" *ngIf="isCMCAS()">
          <h2>Contingent</h2>
          <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
            <label class="form-label" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
          <!-- <div class="row mb-3">
            <label class="form-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          </div> -->
          <div class="row mb-3">
            <label class="form-label" for="field_adminQuota">Administrateur</label>
            <input
              type="number"
              class="form-control"
              name="adminQuota"
              id="field_adminQuota"
              data-cy="adminQuota"
              formControlName="adminQuota"
            />
          </div>
          <div class="row mb-3">
            <label class="form-label" for="field_commissionQuota">Commission</label>
            <input
              type="number"
              class="form-control"
              name="commissionQuota"
              id="field_commissionQuota"
              data-cy="commissionQuota"
              formControlName="commissionQuota"
            />
          </div>
          <div class="row mb-3">
            <label class="form-label" for="field_proximityQuota">Proximité</label>
            <input
              type="number"
              class="form-control"
              name="proximityQuota"
              id="field_proximityQuota"
              data-cy="proximityQuota"
              formControlName="proximityQuota"
            />
          </div>
          <div class="row mb-3">
            <label class="form-label" for="field_numberOfAdmins">Nombre d'admnistrateur</label>
            <input
              type="number"
              class="form-control"
              name="numberOfAdmins"
              id="field_numberOfAdmins"
              data-cy="numberOfAdmins"
              formControlName="numberOfAdmins"
            />
          </div>
        </div>

        <div>
          <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
            <fa-icon icon="ban"></fa-icon>&nbsp;<span>Annuler</span>
          </button>
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            [disabled]="editForm.invalid || isSaving"
            class="btn btn-primary"
          >
            <fa-icon icon="save"></fa-icon>&nbsp;<span>Enregistrer</span>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
