<div>
  <h2 id="page-heading" data-cy="RequestHeading">
    <span>Requests</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-request"
        [routerLink]="['/request/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Request </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="requests?.length === 0">
    <span>No requests found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="requests && requests.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>ID</span></th>
          <th scope="col"><span>Status</span></th>
          <th scope="col"><span>Owner</span></th>
          <th scope="col"><span>Compaign</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let request of requests; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/request', request.id, 'view']">{{ request.id }}</a>
          </td>
          <td>{{ request.status }}</td>
          <td>
            <div *ngIf="request.owner">
              <a [routerLink]="['/application-user', request.owner?.id, 'view']">{{ request.owner?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="request.compaign">
              <a [routerLink]="['/campaign', request.compaign?.id, 'view']">{{ request.compaign?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/request', request.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/request', request.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(request)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
