<div>
  <div class="d-flex justify-content-between mb-4">
    <h2>Liste des requetes</h2>
    <div>
      <button pButton class="p-button-secondary mx-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>&nbsp;
        <span>Refresher</span>
      </button>
      <button
        pButton
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-request"
        [routerLink]="['/request/new']"
      >
        <fa-icon icon="plus"></fa-icon>&nbsp;
        <span> Nouvelle requete </span>
      </button>
    </div>
  </div>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="requests?.length === 0">
    <span>No requests found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="requests && requests.length > 0">
    <p-table
      [value]="requests"
      aria-describedby="page-heading"
      [paginator]="true"
      [rows]="10"
      [showCurrentPageReport]="true"
      responsiveLayout="scroll"
    >
      <ng-template pTemplate="header">
        <tr>
          <th scope="col"><span>ID</span></th>
          <th scope="col"><span>Status</span></th>
          <th scope="col"><span>Createur</span></th>
          <th scope="col"><span>Compaign</span></th>
          <th scope="col"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-request>
        <tr data-cy="entityTable">
          <td>
            <a [routerLink]="['/request', request.id, 'view']">{{ request.id }}</a>
          </td>
          <td>{{ request.status }}</td>
          <td>
            <div *ngIf="request.owner">
              <a [routerLink]="['/application-user', request.owner?.id, 'view']">{{ request.owner?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="request.compaign">
              <a [routerLink]="['/campaign', request.compaign?.id, 'view']">{{ request.compaign?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                pButton
                class="p-button-rounded p-button-outlined p-button-sm mx-1"
                type="submit"
                [routerLink]="['/request', request.id, 'view']"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
              </button>
              <button
                pButton
                class="p-button-rounded p-button-outlined p-button-secondary p-button-sm mx-1"
                type="submit"
                [routerLink]="['/request', request.id, 'edit']"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
              </button>
              <button
                pButton
                class="p-button-rounded p-button-outlined p-button-danger p-button-sm mx-1"
                type="submit"
                (click)="delete(request)"
                data-cy="entityDeleteButton"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
