<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="company">
      <h2 data-cy="companyDetailsHeading"><span>Oragnisation</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ company.id }}</span>
        </dd>
        <dt><span>Nom</span></dt>
        <dd>
          <span>{{ company.name }}</span>
        </dd>
        <dt><span>Raisone Social</span></dt>
        <dd>
          <span>{{ company.raisonSocial }}</span>
        </dd>
        <dt><span>Type d'organisation</span></dt>
        <dd>
          <span>{{ company.companyType }}</span>
        </dd>
        <dt><span>Organization Social</span></dt>
        <dd>
          <div *ngIf="company.socialOrganization">
            <a [routerLink]="['/social-organization', company.socialOrganization?.id, 'view']">{{ company.socialOrganization?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/company', company.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
